<div class="container-fluid">

<div class="row mt-5">
   <div class="col-md-5">
        <table class="table table-bordered text-center">
          <thead>
              <tr>
                  <th>Product Name</th>
                  <th>Qtu</th>
                  <th>-</th>
                  <th>Price</th>
                  <th>Delete</th>
              </tr>
          </thead>

          <tbody>

            <tr *ngFor="let i of ShoppingCart">
              <td> <span>{{i.ProductName}}</span> </td>
              <td><input disabled class="form-control" [value]="i.Qtu" type="text" name="" style="width: 100px;" id=""></td>
              <td>
                  <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-success" (click)="raiseQtu(i.ProductID)">+</button>
                      <button type="button" class="btn btn-primary" (click)="MinQtu(i.ProductID)">-</button>
                  
                    </div>
              </td>
              <td>{{i.FullPrice}}</td>
              <td>
                  <button class="btn btn-danger" (click)="DeleteItem(i.ProductID)">X</button>
              </td>
          </tr>

          </tbody>
          
        </table>
        <div>
          <textarea class="form-control" placeholder="Note" [(ngModel)]="Note">

          </textarea>
        </div>
        <hr/>
        <div>
          <h2 class="d-flex flex-row-reverse"> Total Price : {{GetFullPrice()}}</h2>
        </div>
        <div class="d-flex flex-row-reverse">
        <button class="btn btn-success mt-5" (click)="submitOrder()">Confirm</button>
      </div>
    </div>
  

    <div class="col-md-7">

        <div class="row">
          <div class="col-md-3 mb-5"  *ngFor="let item of Product" (click)="GetProduct(item)" >
            <div class="card">
                <img class="card-img-top" [src]="item.ImageUrl" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title text-center">{{item.Name}}</h6>
                  
                </div>
              </div>
            </div>



    </div>

    </div>
</div>
</div>


