<div class="container-fluid">

<div class="row mt-5">
   <div class="col-md-5">
        <table class="table table-bordered text-center">
          <thead>
              <tr>
                  <th>Product Name</th>
                  <th>Qtu</th>
                  <th>-</th>
                  <th>Price</th>
                  <th>Delete</th>
              </tr>
          </thead>
            <tr>
                <td> <span>Tea</span> </td>
                <td><input disabled class="form-control" value="5" type="text" name="" style="width: 100px;" id=""></td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success">+</button>
                        <button type="button" class="btn btn-primary">-</button>
                    
                      </div>
                </td>
                <td>25</td>
                <td>
                    <button class="btn btn-danger">X</button>
                </td>
            </tr>
        </table>
    </div>
  

    <div class="col-md-7">

        <div class="row">
            <div class="col-md-3 mb-5" (click)="GetProduct()">
                <div class="card">
                    <img class="card-img-top" src="https://via.placeholder.com/250" alt="Card image cap">
                    <div class="card-body">
                      <h6 class="card-title text-center">Tea</h6>
                      
                    </div>
                  </div>
                </div>

        <div class="col-md-3" (click)="GetProduct()">
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/250" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title text-center">Tea</h6>
                  
                </div>
              </div>
            </div>

            <div class="col-md-3 mb-5" (click)="GetProduct()">
                <div class="card">
                    <img class="card-img-top" src="https://via.placeholder.com/250" alt="Card image cap">
                    <div class="card-body">
                      <h6 class="card-title text-center">Tea</h6>
                      
                    </div>
                  </div>
                </div>


                <div class="col-md-3 mb-5" (click)="GetProduct()">
                    <div class="card">
                        <img class="card-img-top" src="https://via.placeholder.com/250" alt="Card image cap">
                        <div class="card-body">
                          <h6 class="card-title text-center">Tea</h6>
                          
                        </div>
                      </div>
                    </div>


                    <div class="col-md-3 mb-5" (click)="GetProduct()">
                        <div class="card">
                            <img class="card-img-top" src="https://via.placeholder.com/250" alt="Card image cap">
                            <div class="card-body">
                              <h6 class="card-title text-center">Tea</h6>
                              
                            </div>
                          </div>
                        </div>



    </div>

    </div>
</div>
</div>

