@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.registration-container{
    font-family: 'Raleway', sans-serif;

}
label.fileStyle{
    padding: 10px;
    background: #0c2461; 
    display: table;
    color: #fff;
     }



input[type="file"] {
    display: none;
}